[submodule "MX_Alps_Hybrid"]
	path = pcb/MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.git
[submodule "random-keyboard-parts"]
	path = pcb/random-keyboard-parts
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty.git
